  body{
    -ms-overflow-style: none;
  }

  #titleBar{
    position: fixed;
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;    
    text-align: center;
    line-height: 50px;
    background-color: #fe4040;
  }
  #titleBar_theme{
    position: fixed;
    display: grid;
    grid-template-columns: 43px 43px 1fr 43px 43px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;    
    text-align: center;
    line-height: 50px;
    background-color: #fe4040;
  }
  #title{
    font-family: Roboto;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
  }
  #themeLogo{
    font-weight: 600;
    font-size: 0.85em;
    display:inline-flex;      
    border-radius: 5px;
    border: 1px solid rgb(59, 59, 59);
    padding: 2px 3px 2px 3px;
    margin-left: 5px;
    line-height: 1em;      
  }
  #searchCard, #regionSearchCard{    
    position: fixed;
    display: grid;
    grid-template-columns: 45px 1fr 40px;
    top: -220px;
    left: 0;
    right: 0;
    width: 98%;
    height: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ff3849;    
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #inputBox, #regionInputBox{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #inputSearch, #regionInputSearch{
    width: 95%;
    height: 2em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
  }
  #searchBox{    
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  #searchExample, #regionSearchExample{
    color: white;
    font-size: 0.7em;
    text-align: left;
    padding-left: 5px;   
  }
  #searchNotice, #rearrangeNotice, #regionSearchNotice, #rearrangeRegionNotice{
    color: white;
    font-size: 0.8em;
    text-align: left;
    padding-left: 10px;   
  }
  #sortNotice{
    width: 95%;
  }
  #rearrangeCard{    
    position: fixed;
    display: grid;
    grid-template-columns: 45px 1fr 40px;
    top: -250px;
    left: 0;
    right: 0;
    width: 98%;
    height: 112px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ff3849;    
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #rearrangeRegionCard{    
    position: fixed;
    display: grid;
    grid-template-columns: 45px 1fr 40px;
    top: -250px;
    left: 0;
    right: 0;
    width: 98%;
    height: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ff3849;    
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .rearrangeArea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.2em 2.2em;  
    text-align: center;    
    padding-top: 5px;    
  }

  .badge{
    font-size: 0.3em;
    background-color: #fcff3d;
    color: rgb(48, 48, 48);     
  }
  .translate-middle{
    transform: translate(-20%, 40%) !important;    
  }  
  #filterPyeong{
    width: 100%;
  }
  #selectPyeong{
    margin-top: 5px;
    width: 95%;
    height: 2em;
    font-size: 0.8em;
    padding-left: 5px;
    border: none;
    background-color: white;
  }

  .btn-outline-danger{
    width: 95%;
    background-color: white;
    color: #ff3849;    
    border-color: #ff3849;
    border-radius: 2em;    
    padding: 4px 2px 4px 2px;
  }
  .btn-outline-danger:hover, .btn-outline-danger:active, .btn-outline-danger:checked{    
    background-color: #ff3849 !important;
    color: white !important;        
  }
  .btn-check:checked+.btn-outline-danger{
    background-color: #ff3849 !important;        
  }
  .btn-check:disabled+.btn, .btn-check[disabled]+.btn{    
    opacity: 0.3 !important;    
  }

  #dataList{
    display:block;
    width: 100%;
    padding-top: 96px;
  }

  .listBox{
    display: grid;
    grid-template-columns: 60px 1fr 80px;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .themeListBox{
    display: grid;
    grid-template-columns: 1fr 80px;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .themeDongList{
    display: grid;    
    align-items: left;    
    padding-left: 10px;
    padding-right: 10px;    
  }

  .dongList{    
    font-weight: 600;
    align-items: left;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;    
  } 
  
  /*
  .listBox:hover{
    background-color: #ffdfde;
  }
  */

  #rankSimul{
    justify-items: center;    
    text-align: center;
    line-height: 2em;
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    background-color: #fe4040;
    height: 2em;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.4) 0px 1px 2px;
  }

  #rankSimul:active{
    background-color: #d4342e;
  }

  .optionSelect{
    height: 2.3em;
    text-align: center;    
    font-weight: 600;    
    width: 100%;    
    border: 0;
    border-radius: 1em;
    background-color: #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .optionSelect:focus{
    outline: 0;
    background: #bbb
  }

  .listBox:active{
    background-color: #ffdfde;
  }
  .value_score{
    text-align: right;
    justify-content: center;
    padding-right: 8px;
    font-size: 0.9em;
    font-weight: 600;
  }
  .rank_content{
    display: grid;    
  }
  .rank{
    text-align: center;
    font-size: 0.85em;
  }
  .rankup{
    text-align: center;
    font-size: 0.6em;
    color:#fe4040
  }
  .rankdown{
    text-align: center;
    font-size: 0.6em;
    color:blue
  }
  .ranksame{
    text-align: center;
    font-size: 0.6em;    
  }
  .rankGraphTitle{
    height: 2em;
    font-size: 0.75em;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 5px;
    background: #f7f7f7;
  }  
  .apt_address{
    font-size: 0.7em;
    color: gray;
  }  
  .regionPopUp, .regionPopDown{
    font-size: 0.8em;
    color: gray;
  }  
  .apt_name{
    font-size: 0.85em;
    font-weight: bold;
  }
  .aptYear{
    font-size: 0.8em;
    color: gray
  }
  .apt_info{
    font-size: 0.7em;
    color:rgb(85, 85, 85);
  }
  .themePoint{
    font-size: 0.75em;
    font-weight: 600;
    color: #fe4040;
  }

  #selections{        
    display: grid;    
    grid-template-columns: 0.8fr 1.5fr 1fr;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;    
    background-color: #fe4040;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  #themeSelections{        
    display: grid;    
    grid-template-columns: 0.8fr 1.5fr 1.3fr;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;    
    background-color: #fe4040;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
  }
  #weight{        
    display: grid;    
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;    
    background-color: #fe4040;
    position: fixed;
    top: 95px;
    left: 0;
    right: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: 0.7em;
    color: white;
    text-align: center;
  }

  #linkToAptrank{
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 1px;    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    line-height: 2em;
    background-color: #eeeeee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px -5px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
  }

  #tab1, #tab2, #tab3, #tab4{
    font-size: 0.7em;
    font-weight: 600;
    border-top: 2px solid #fe4040;    
    color: gray;
  }
  #tab1:active, #tab2:active, #tab3:active, #tab4:active{
    color: #fe4040;
  }  

  #arrow{
    font-size: 1.1em;
  }

  #sido, #gungu, #month, #theme{
    width: 95%;
    height: 2em;
    font-size: 0.8em;
    margin-right: 2px;
    border: none;
    background-color: white;
  }
  #sido:focus, #gungu:focus, #month:focus, #theme:focus{
    outline: 0;
  }

  #sido_selection{
    text-align: left;
    padding-left: 10px;
  }
  #gungu_selection{
    text-align: left;
  }
  #month_selection{
    text-align: right;
    padding-right: 10px;
  }
  #theme_selection{
    text-align: right;
    padding-right: 10px;
  }

  .modal-body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;    
  }
  .popRank{
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;    
  }
  .popupTitle{    
    font-weight: 900;    
  }
  .popupSubtitle{
    font-size: 0.7em;
    color: gray;
  }
  .popSubTable{
    display: grid;
    height: 1.8em;
    grid-template-columns: 1.5fr 1fr;    
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(216, 216, 216);
  }
  .popSubPriceTable{
    display: grid;    
    grid-template-columns: 90px 1fr;
    margin-top: 10px;
    margin-bottom: 10px;    
    border-bottom: solid 1px rgb(216, 216, 216);
    border-top: solid 1px rgb(216, 216, 216);
  }
  .popSubPriceTableDetail{
    display: grid;    
    grid-template-columns: 1fr 1.2fr;
  }
  #pStart, #pEnd{
    width: 90px;    
    font-size: 0.85em;
    height: 2em;
    line-height: 0.85em;
    text-align: center;    
    font-weight: 600;
    border-radius: 20px;    
    background: #eee;
    border: 1px solid #ccc;
  }
  .table-striped{
    max-height: 200px;
  }
  .popLivingTable{
    display: grid;
    height: 1.4em;
    grid-template-columns: 1fr 1fr 1.5fr;
    margin-top: 2px;
    margin-bottom: 2px;    
    border-bottom: solid 1px rgb(216, 216, 216);
  }  
  #popSubStation{
    display: grid;    
    grid-template-columns: 1fr 2fr;
  }
  .stationList{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-content:flex-end;
    justify-content:end;
    font-size: 0.75em;    
    text-align: right;
    color: gray;
    margin-bottom: 1.5em;
    word-wrap: break-word;
    word-break: keep-all;    
  }
  #popSubLiving{
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(216, 216, 216);    
  }
  #popSubResult{
    text-align: left;
  }
  #popLiving{
    display: block;    
  }
  .popTitle{
    font-weight: 600;    
  }
  .popPriceTitle{
    font-weight: 600;   
  }
  .priceHistoryOption{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 10px;
    padding-bottom: 10px;    
  }
  .popContent{
    font-size: 0.9em;
    text-align: left;
  }
  .popLivingContent{
    font-size: 0.9em;    
  }
  .popTable{
    display:grid;
  }
  .popResult{    
    font-size: 0.9em;
    font-weight: 600;
    text-align: right;
  }
  .priceResult{
    font-size: 0.75em;    
    font-weight: 600;    
    line-height: 2em;
    text-align: left;
  }
  .card{
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .column2{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .column_table{
    border-radius: 3px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .column_table_title{
    font-size: 0.8em;
    font-weight: 600;
    background: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .supplySubTable{
    display: grid;
    grid-template-columns : 1fr;
    height: 2em;
    line-height: 2em;
  }
  .supplyContent{
    font-size: 0.8em;
    padding-left: 5px;
    text-align: left;
  }
  .supplyResult{
    font-size: 0.8em;
    padding-right: 5px;
    text-align: center;
  }

  #help, #rearrange, #tripGuide{
    font-size: 1.5em;
    color: white;
    text-align: right;
    padding-right: 15px;
  }
  #search, #sort{
    font-size: 1.5em;
    color: white;
    text-align: left;
    padding-left: 15px;
  }  
  .settingArea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.8em 2.8em;  
    text-align: center;    
    padding-top: 15px;
  }
  .rangeArea{
    display: grid;
    grid-template-columns: 80px 1fr 60px;    
    height: 12em;
    text-align: center;    
  }
  input[type=range]::-webkit-slider-thumb{
    height: 1.3em;
    width: 1.3em;
    margin-top: -0.4em;
    background-color: #ff3849;
  }
  input[type=range]::-webkit-slider-thumb:hover, input[type=range]::-webkit-slider-thumb:active{
    background-color: #ffa4ac;
  }
  .rangeValue{
    text-align: right;
    padding-right: 5px;
  }
  .rangeGuide{
    display: grid;
    grid-template-columns: 1fr 60px;
    text-align: right;
  }
  #percentWarning{
    font-size: 0.8em;
    font-weight: 600;
    color: #ff3849;
    margin-right: 10px;
  }

  #iconSearch, #iconSort, #iconRearrange{
    font-size: 1.5em;
    color: white;
    text-align: right;
    padding-right: 10px;    
  }
  #closeSearch, #closeRearrange, #closeRegionSearch, #closeRegionRearrange{
    font-size: 1.5em;
    color: white;
    text-align: left;
    padding-left: 10px;    
  }
  #closeSearch_floating, #closeRearrange_floating, #closeRegionSearch_floating, #closeRegionRearrange_floating{
    display: grid;
    width: 4em;
    height: 4em;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    background: #ff3849;
    z-index: 999;
    position: fixed;
    bottom: 35px;
    right: -200px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #closeSearch_floting_wraper{    
    display: grid;
    width: 100%;    
  }
  #closeIcon_floating{
    font-size: 1.3em;
    color: white;
    text-align: center;    
  }
  #clostText_floating{  
    font-size: 0.7em;  
    color: white;
    text-align: center;    
  }
  .notice{
    font-size: 0.85em;    
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: keep-all;
  }
  .modal-footer{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr ;
    place-content: center;    
  }
  .toggle1-footer{
    display: grid;
    width: 100%;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    place-content: center;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }
  .form-check{    
    text-align: center;
    align-content: center;
    margin-bottom: 1em;
  }
  
  .footer_wraper{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr 1fr;
    place-content: center;
  }
  .goLink{    
    width: 100%;
    height: 2.5em;
    background-color: #03c75a;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: None;
  }
  .goLink:active{    
    width: 100%;
    height: 2.5em;
    background-color: #019e48;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: None;
  }
  .goLink_HGNN{    
    width: 100%;
    height: 2.5em;
    background-color: #584de4;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: None;
  }
  .goLink_HGNN:active{    
    width: 100%;
    height: 2.5em;
    background-color: #3d369c;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: None;
  }
  #NLink{
    text-align: right;
  }
  .goThemeLink{
    align-content: right;
    width: 90%;
    font-size: 0.8em;
    background-color: white;
    color: #03c75a;
    height: 2.5em;    
    font-weight: 600;    
    border-radius: 5px;
    border: 1px solid #03c75a;
  }
  .goThemeLink:hover, .goThemeLink:active{
    background-color: #eeeeee;
  }
  .goApt{
    width: 100%;    
    height: 2.5em;
    background-color: #fe4040;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: None;
  }
  .toShare{
    width: 100%;    
    height: 2.5em;    
    font-weight: 600;
    border-radius: 5px;
    border: None;
  }
  .kakaoShare{
    width: 2em;    
    height: 2em;
    color: #3a2929;    
    font-size: 1.2em;
    background:#f8e002;    
    border-radius: 50%;
    border: None;
  }
  .gokakao{
    width: 100%;    
    height: 2.5em;
    background-color: #f8e002;
    color: black;
    font-weight: 600;    
    border-radius: 5px;
    border: None;
  }
  .comment{
    font-size: 0.6em;
    text-align: right;
    color: gray;
  }
  .comment2{
    font-size: 0.6em;
    word-wrap: break-word;
    word-break: keep-all;
    text-align: left;
    color: gray;
  }
  .commentLine{
    padding-left: 20px;
  }
  .reg_subTable{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    margin-top: 5px;
  }

  .filterArea{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;    
  }

  .filterRange{
    display: grid;
    position: relative;    
    align-items: center;    
    width: 100%;
    grid-template-columns: 60px 1fr 60px;
  }
  #max_val, #min_val{
    text-align: center;
  }

  .form-check-input:checked{
    background-color: #fe4040 !important;
    border-color:  #fe4040 !important;
  }  
  .form-check-input:checked:focus{
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 200, 200, 0.25);
    border-color:  #fe4040;
  }
  .form-check-input:focus{
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 200, 200, 0.25);
    border-color:  #fe4040;
  }
  .form-check-input:active{
    background-color: #ffcecc;
    border-color:  #fe4040;
  }

  @media screen and (min-width: 800px){
    body.modal-open {
      overflow: visible !important;      
      padding-right: 0px !important;      
    }
    ::-webkit-scrollbar {
      display: 3px;
    }   
    #modal .modalWindow{      
      width: 700px;
    }
    #close{
      width: 700px;
    }
    #centerBox{
      width: 100%;
      display: grid;
      grid-template-columns: 800px;
      justify-content:center;
    }
    #titleBar, #titleBar_theme{
      margin: 0 auto;
      width: 800px;
    }
    #searchCard, #rearrangeCard, #regionSearchCard, #rearrangeRegionCard{
      margin: 0 auto;
      width: 790px;
    }
    #closeSearch_floating, #closeRearrange_floating, #closeRegionSearch_floating, #closeRegionRearrange_floating{
      display: none;
    }
    #selections, #weight, #themeSelections, #linkToAptrank{
      margin: 0 auto;
      width: 800px;
    }
    .reg_subTable{    
      grid-template-columns: 1.2fr 1.8fr 1.2fr 1.2fr 1.5fr;
    }
    .comment, .stationList{
      font-size: 0.8em;
    }

  }  